.root {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @mixin responsive gap, 24, 24, 24;
  @mixin responsive padding, 16, 20, 24;
  @mixin responsive border-radius, 8, 8, 8;
  background: var(--color-surface);
  height: 100%;
  min-height: 0;
  overflow: auto;
}

.textBlock {
  display: flex;
  flex-direction: column;
  @mixin responsive gap, 40, 40, 40;
  width: 100%;
  @mixin responsive-max-width 764, 764, 764;
}

.heading {
  display: flex;
  flex-direction: column;
  @mixin responsive gap, 4, 4, 4;
  margin: 0;
  text-align: center;
  @mixin responsive font-size, 20, 24, 26;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.015em;
}

.headingPrimary {
  color: var(--color-primary-contrast);
}

.headingAccent {
  color: var(--color-primary-light);
}

.description {
  display: flex;
  flex-direction: column;
  @mixin responsive gap, 4, 4, 4;
  @mixin responsive font-size, 16, 20, 24;
  line-height: 1.33;
  letter-spacing: -0.01em;
  color: var(--color-text-secondary);
}

.description p {
  margin: 0;
}

.inlineLogo {
  align-self: flex-start;
}

.quote {
  position: absolute;
  @mixin responsive right, 16, 24, 32;
  @mixin responsive bottom, 12, 16, 16;
  @mixin responsive width, 96, 96, 96;
  @mixin responsive height, 96, 96, 96;
  opacity: 0.9;
}

@media (max-width: 767px) {
  .root {
    flex-direction: column;
  }

  .quote {
    position: static;
    align-self: flex-end;
  }
}
