@import './reset.css';
@import './variables/colors.css';
@import './mixins/responsive.css';

html {
  font-family: var(--font-family);
  color: var(--color-text);
  background-color: var(--color-app-bg);
}

body {
  min-height: 100dvh;
  background-color: var(--color-app-bg);
}

button,
input,
textarea {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

mark {
  background: transparent;
}
